* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Image Slide Show */

.container {
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.swiper {
    width: 80%;
    height: fit-content;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 700px;
    object-fit: cover;
    object-position: center;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}